langchain==0.3.14
langchain-community==0.3.14
langchain-huggingface
langchain-chroma==0.2.0
langchain-groq>=0.2.0
chromadb==0.5.23

streamlit==1.38.0
pypdf==5.0.1
python-dotenv==1.0.1
Faker==30.0.0

bcrypt>=4.2.0
pydantic>=2.8
pydantic-settings>=2.4
itsdangerous>=2.2